
# exclude Intermediate and Binaries folders

Intermediate/
Binaries/

# Rider for Unreal's IdeaVIM files
**/.idea
Binaries.dead/Win64/UnrealEditor-ScooterUtils.dll
Binaries.dead/Win64/UnrealEditor-ScooterUtils.pdb
Binaries.dead/Win64/UnrealEditor.modules


.obsidian/*
